<div class="container">
    <div [hidden]="_submitControl">
        <!-- Form Title -->
        <h2>{{ formTitle }}</h2>
        <!-- Form -->
        <form name="userForm" (ngSubmit)="onSubmit()"  #userForm="ngForm">
        <!-- USER NAME -->
            <div class="form-group">
                <label for="name">{{ titleName }}</label>
                <input ng-model="name" (blur)="setData($event, 'name')" md-maxlength="30" name="name" type="text" class="form-control" ngControl="name" required>
            </div>
        <!-- USER SURNAME -->
            <div class="form-group">
                <label for="surname">{{ titleSurName }}</label>
                <input ng-model="surname" (blur)="setData($event, 'surname')" name="surname" type="text" class="form-control" ngControl="surname" required>
            </div>
        <!-- USER AGE -->
            <div class="form-group">
                <label for="age">{{ titleAge }}</label>
                <input ng-model="age" (blur)="setData($event, 'age')" name="age" type="number" class="form-control" ngControl="age" required>
            </div>
        <!-- USER OCCUPATION -->
            <div class="form-group">
                <label for="occupationList">{{ titleOccupation }}</label>
                <select (change)="setData($event, 'occupation')" name="occupationList" class="form-control" required>
                  <option *ngFor="#oc of occupationList" [value]="oc">{{ oc }}</option>
                </select>
            </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-default" [disabled]="!userForm.form.valid">{{ submitButtonText }}</button>
        </form>
    </div>
<!-- FINAL DATA -->
    <div [hidden]="!_submitControl">
       <h2>{{ finalTitle }}</h2>
    <!-- USER NAME -->
       <div class="row">
         <div class="col-xs-3">{{ finalName }}</div>
         <div class="col-xs-9  pull-left">{{ name }}</div>
       </div>
    <!-- USER SURNAME -->
       <div class="row">
         <div class="col-xs-3">{{ finalSurname }}</div>
         <div class="col-xs-9 pull-left">{{ surname }}</div>
       </div>
    <!-- USER AGE -->
       <div class="row">
         <div class="col-xs-3">{{ finalAge }}</div>
         <div class="col-xs-9 pull-left">{{ age }}</div>
       </div>
    <!-- USER OCCUPATION -->
       <div class="row">
         <div class="col-xs-3">{{ finalOccupation }}</div>
         <div class="col-xs-9 pull-left">{{ occupation }}</div>
       </div>
       <br>
    <!-- EDIT BUTTON -->
       <button class="btn btn-default" (click)="_submitControl=false">{{ editButtonText }}</button>
     </div>
</div>
